body {
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: cadetblue;
    text-align: center;
}

h2 {
    color: cadetblue;
    text-align: center;
}